.burger-menu {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  width: 520px;
  height: 100%;
  box-sizing: border-box;
  background-color: #202020;
  visibility: hidden;
}

.burger-menu__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.burger-menu__close {
  position: absolute;
  right: 22px;
  top: 22px;
  border: 0;
  width: 22px;
  height: 22px;
  background: url(../../../images/close.svg) no-repeat center;
  background-size: cover;
  background-color: transparent;
  cursor: pointer;
}

.burger-menu__navigator {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 159px;
  gap: 28px;
}

.burger-menu__link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
}

.burger-menu__profile {
  margin-top: 621px;
  display: flex;
  justify-content: space-between;
  border: none;
  width: 100px;
  height: 30px;
  background-color: transparent;
}

.navigate__account-burger {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #FFFFFF;
  padding-top: 7px;
}

.navigate__icon-burger {
  border-radius: 6px;
  border: none;
  padding: 0;
  width: 30px;
  height: 30px;
  background-image: url(../../../images/navigate_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #313131;
}

@media screen and (max-width: 320px) {
  .burger-menu {
    width: 320px;
  }

  .burger-menu__close {
    right: 13px;
    top: 13px;
  }

  .burger-menu__navigator {
    margin-top: 144px;
    gap: 24px;
  }

  .burger-menu__profile {
    margin-top: 444px;
  }
}
