.page-not-found {
  background: #202020;
  margin: 0 auto;
  padding: 246px 440px 60px;
  display: flex;
  flex-direction: column;
}

.page-not-found__header {
  margin: 0;
  padding-bottom: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
  text-align: center;
  color: #FFFFFF;
}

.page-not-found__text {
  margin: 0 0 184px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.page-not-found__link {
  display: block;
  margin: 0 auto;
  max-width: 42px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #4285F4;
}

@media screen and (max-width: 1279px) {
  .page-not-found {
    padding: 408px 184px 222px;
  }
}

@media screen and (max-width: 767px) {
  .page-not-found {
    padding: 329px 10px 30px;
  }

  .page-not-found__header {
    padding-bottom: 10px;
    font-size: 80px;
    line-height: 97px;
  }

  .page-not-found__text {
    margin: 0 0 284px;
    font-size: 12px;
    line-height: 15px;
  }

  .page-not-found__link {
    max-width: 36px;
    font-size: 12px;
    line-height: 15px;
  }
}
