.page {
  margin: 0 auto;
  max-width: 1280px;
}

.root {
  font-family: Inter, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:  #202020;
  min-height: 100vh;
  min-width: 320px;
}

@media screen and (max-width: 1279px) {
  .page {
    max-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .page {
    max-width: 320px;
  }
}
