.movies-list {
  padding-bottom: 80px;
  background-color: #202020;
}

.movies-list__container {
  display: grid;
  justify-content: center;
  grid-gap: 59px 30px;
  grid-template-columns: repeat(auto-fit, 360px);
  list-style-type: none;
  margin: 0 auto;
  padding: 70px 70px 28px;
  max-width: 1280px;
}

.movies-list__button {
  display: block;
  margin: 0 auto;
  border: 0;
  border-radius: 6px;
  margin-top: 50px;
  width: 100%;
  height: 36px;
  max-width: 1140px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  background-color: #2F2F2F;
  cursor: pointer;
}

.movies-list__button_visible {
  display: none;
}

.movies-list__error {
  display: none;
}

.movies-list__error_visible {
  display: block;
  margin: 0 70px 0;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  color: #FFFFFF;
}

.movies-list__not-found {
  display: none;
}

.movies-list__not-found_visible {
  display: block;
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 1279px) {
  .movies-list__container {
    grid-gap: 45px 30px;
    grid-template-columns: repeat(auto-fit, 339px);
    padding: 70px 30px 10px;
  }

  .movies-list__button {
    max-width: 708px;
  }
}

@media screen and (max-width: 767px) {
  .movies-list__container {
    grid-gap: 36px;
    grid-template-columns: repeat(auto-fit, 300px);
    padding: 40px 10px 10px;
  }

  .movies-list__button {
    max-width: 300px;
    font-size: 12px;
    line-height: 15px;
  }
}
