.portfolio {
  background-color: #202020;
  color: #FFFFFF;
}

.portfolio__container {
  margin: 0 auto;
  padding: 0 70px 125px 70px;
  max-width: 1280px;
}

.portfolio__header {
  margin: 0;
  padding-bottom: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #8B8B8B;
  mix-blend-mode: normal;
}

.portfolio__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.portfolio__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #424242;
  padding-bottom: 19px;
  padding-top: 20px;
}

.portfolio__links:last-child {
  padding-bottom: 0;
  padding-top: 20px;
  border: none;
}

.portfolio__links:first-child {
  padding-top: 0;
}

.portfolio__github {
  position: relative;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  text-decoration: none;
  color: #FFFFFF;
}

.portfolio__cursor {
  display: inline-block;
  width: 30px;
  height: 20px;
  background: url(../../../images/cursor.svg) no-repeat center;
  background-size: contain;
}

@media screen and (max-width: 1279px) {
  .portfolio__container {
    padding: 0 50px 90px 50px;
  }

  .portfolio__links {
    border-bottom: 1px solid #E6E6E6;
  }

  .portfolio__github {
    font-size: 28px;
  }

  .portfolio__cursor {
    width: 27px;
    height: 19px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio__container {
    padding: 0 14px 70px 14px;
  }

  .portfolio__header {
    padding-bottom: 40px;
    font-size: 14px;
    line-height: 20px;
  }

  .portfolio__github {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__cursor {
    width: 18px;
    height: 11px;
  }
}
