.movie-card__card {
  display: flex;
  position: relative;
  flex-direction: column;
  background: transparent;
  overflow: hidden;
}

.movie-card__image {
  object-fit:cover;
  width: 360px;
  height: 201px;
  cursor: pointer;
  background-size: cover;
  background: url(../../../images/pic.jpg);
  border-radius: 6px;
}

.movie-card__button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 72px;
  height: 21px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  background: #313131;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 9px;
}

.movie-card__signature {
  display: flex;
  margin: 14px 20px 0;
  justify-content: space-between;
  align-items: center;
}

.movie-card__name {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #FFFFFF;
}

.movie-card__time {
  display: flex;
  width: 52px;
  height: 18px;
  border: none;
  background: #2F2F2F;
  border-radius: 3px;
  color: #8B8B8B;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 10px;
  align-items: center;
  justify-content: center;
}
