.register {
  background: #202020;
  margin: 0 auto;
  padding: 70px 442px 70px;
}

.register__header {

}

.register__logo {
  display: inline-block;
  margin-bottom: 40px;
  width: 38px;
  height: 38px;
  background: url(../../images/logo.svg) no-repeat;
}

.register__header {
  margin: 0 0 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.register__form {

}

.register__fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}

.register__fieldset-label {

}

.register__name {
  display: block;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8B8B8B;
}

.register__input {
  margin-bottom: 24px;
  border: none;
  border-bottom: 1px solid #424242;
  padding: 5px 0 10px;
  width: 100%;
  color: #fff;
  background: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.register__input:nth-last-child(2) {
  margin-bottom: 0;
}

.register__error {
  display: block;
  margin: 6px 0 65px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
}

.register__submit-button {
  margin: 69px 0 16px;
  border: none;
  border-radius: 3px;
  width: 100%;
  height: 45px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  background: #4285F4;
  cursor: pointer;
}

.register__question {
  display: flex;
  justify-content: center;
}

.register__question-text {
  margin: 0 6px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8B8B8B;
}

.register__login {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4285F4;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .register {
    padding: 232px 186px 232px;
  }
}

@media screen and (max-width: 320px) {
  .register {
    padding: 56px 30px 30px;
  }

  .register__logo {
    margin-bottom: 50px;
  }

  .register__header {
    margin: 0 0 80px;
  }

  .register__submit-button {
    margin: 157px 0 14px;
  }

  .register__question-text {
    margin: 0 7px 0 0;
    font-size: 12px;
    line-height: 15px;
  }

  .register__login {
    font-size: 12px;
    line-height: 15px;
  }
}
