.promo {
  display: flex;
  position: relative;
  background: #073042;
  min-height: 560px;
}

.promo__title {
  position: relative;
  z-index: 2;
  padding: 50px 0 0 70px;
  margin: 0;
  max-width: 626px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -0.04em;
  text-align: left;
  color: #FFFFFF;
}

.promo__logo {
  position: absolute;
  z-index: 1;
  top: 256px;
  right: 70px;
  width: 722px;
  height: 244px;
  background: url(../../../images/promo_logo.svg) no-repeat center;
  background-size: contain;
}

@media screen and (max-width: 1279px) {
  .promo {
    min-height: 844px;
  }

  .promo__title {
    padding: 300px 0 0;
    margin: 0 auto;
    max-width: 680px;
    text-align: center;
  }

  .promo__logo {
    top: 544px;
    right: 44px;
    width: 680px;
    height: 230px;
  }
}

@media screen and (max-width: 767px) {
  .promo {
    min-height: 630px;
  }

  .promo__title {
    padding: 183px 0 0;
    margin: 0 auto;
    max-width: 300px;
    text-align: center;
    font-size: 31px;
    line-height: 39px;
  }

  .promo__logo {
    top: 360px;
    right: 0;
    width: 320px;
    height: 230px;
    background-size: cover;
  }
}
